.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: $spacing-unit;

    th,
    td {
        padding: $spacing-unit / 2;
        text-align: left;
        border-bottom: 1px solid $color-muted;
    }

    th {
        background-color: $color-primary;
        color: $color-light;
    }

    tr:hover {
        background-color: lighten($color-primary, 40%);
    }
}
